@media(max-width: 600px){
    .question {
        margin-left: 10px;
        margin-right: 10px;
    }
    button.chakra-button {
        width: 330px;
        font-size: 3.7vw;
        white-space: normal;
    }
}

button.chakra-button {
    width: fit-content;
    text-align: center;
}
.btnAnswer {
    text-align: center;
}
.value {
    font-size: 40px;
}

.timer {
    text-align: center;
    color: purple;
}